n8n_workflows/Video clipping alisaadeng.json
{
  "name": "Video clipping alisaadeng",
  "nodes": [
    {
      "parameters": {
        "url": "=https://alisaadeng-auto-cliper.hf.space/download/{{ $json['body.output_files'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        992
      ],
      "id": "b591eb2b-5390-41dc-a49f-82c6599d16f7",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "ov6HJoMpFcw2FpQM",
          "name": "huggingface"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.output_files, body.best_segments_info",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1600,
        992
      ],
      "id": "b52e5a7c-46f4-4234-8290-1ba05b411c38",
      "name": "Split Out"
    },
    {
      "parameters": {
        "name": "={{ $json[\"body.output_files\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17oo7ryGRvT_TpuqAm062ApxyT_qO8us4",
          "mode": "list",
          "cachedResultName": "n8n-files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17oo7ryGRvT_TpuqAm062ApxyT_qO8us4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        992
      ],
      "id": "8fd5f7bd-ac36-4036-8d4d-d09c44aa7de2",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1amSZDRO077usz3pPUBZza-cygz-IDDpWJtVU-DYzvsc",
          "mode": "list",
          "cachedResultName": "uplode ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1amSZDRO077usz3pPUBZza-cygz-IDDpWJtVU-DYzvsc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1amSZDRO077usz3pPUBZza-cygz-IDDpWJtVU-DYzvsc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "link": "={{ $json.webViewLink }}",
            "title": "={{ $('HTTP Request').item.json[\"body.best_segments_info\"].description }}",
            "discription": "={{ $('HTTP Request').item.json[\"body.best_segments_info\"].reason }}",
            "channel name": "main",
            "states": "new",
            "transcript": "={{ $('Webhook1').item.json.body.full_transcript }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discription",
              "displayName": "discription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel name",
              "displayName": "channel name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "states",
              "displayName": "states",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "العمود 7",
              "displayName": "العمود 7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thamnaill",
              "displayName": "thamnaill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        992
      ],
      "id": "d36d74f7-d614-487a-a215-1ad3bed77fe0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LaExj60dNzJX0HqX",
          "name": "antone"
        }
      }
    },
    {
      "parameters": {
        "content": "# UPLODE TO DRIVE",
        "height": 272,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        896
      ],
      "id": "af396de4-3f25-457c-95d5-2c26d2a078c2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1D0KOhE4c6HmUUNQcbimNqE1g-lrtiIHd",
            "mode": "list",
            "cachedResultName": "playground_video",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1D0KOhE4c6HmUUNQcbimNqE1g-lrtiIHd"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -784,
        1168
      ],
      "id": "1164db7e-5e77-4a31-8e0e-e6434180c290",
      "name": "List Playground Videos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1PgZg00g362yz-4L5fUe3Pj7xYbFFGA-B",
            "mode": "list",
            "cachedResultName": "background_music",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1PgZg00g362yz-4L5fUe3Pj7xYbFFGA-B"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        1456
      ],
      "id": "a0f1dbc0-6e75-4c08-b4f6-c11d99ce2d67",
      "name": "List Music Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// اختار ملف playground عشوائي\nconst files = $input.all();\nif (!files.length) throw new Error('No playground videos found!');\nconst random = files[Math.floor(Math.random() * files.length)];\nreturn [{ json: { id: random.json.id, name: random.json.name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1168
      ],
      "id": "17f7b8a4-c2cc-46b1-8b39-7730a63590ef",
      "name": "Random Playground"
    },
    {
      "parameters": {
        "jsCode": "// اختار ملف موسيقى عشوائي\nconst files = $input.all();\nif (!files.length) throw new Error('No music files found!');\nconst random = files[Math.floor(Math.random() * files.length)];\nreturn [{ json: { id: random.json.id, name: random.json.name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1456
      ],
      "id": "3f958af3-e9a0-4b94-a489-1bea466d1d87",
      "name": "Random Music"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        1456
      ],
      "id": "a0c4a728-143d-4a58-9a7e-646f1748d419",
      "name": "Download Music",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -112,
        1344
      ],
      "id": "6bb60e8d-078c-4174-bb25-48d92e45aee8",
      "name": "Merge All Files"
    },
    {
      "parameters": {
        "content": "DRIVE TRIGER",
        "height": 624,
        "width": 2512,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        1168
      ],
      "id": "667deb82-336b-42f3-bd21-9559a50139b9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1R-5g4aEryyMSfJUDya24-j3DR1Nv2dim",
            "mode": "list",
            "cachedResultName": "background_image",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1R-5g4aEryyMSfJUDya24-j3DR1Nv2dim"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        1712
      ],
      "id": "e0d397c0-e3d3-4e55-a766-f03dfe810c29",
      "name": "List Background Images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// اختار صورة عشوائية\nconst files = $input.all();\nif (!files.length) throw new Error('No background images found!');\nconst random = files[Math.floor(Math.random() * files.length)];\nreturn [{ json: { id: random.json.id, name: random.json.name } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1648
      ],
      "id": "3a521e16-1a41-4003-acea-6a47c446b137",
      "name": "Random Background Image"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        1648
      ],
      "id": "9e131f46-c3a0-47c4-b731-e4bef66f987e",
      "name": "Download Background Image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Helper: يجيب أول binary value في الـ item\nconst getFirstBinary = (item) => {\n  if (!item || !item.binary) return null;\n  const keys = Object.keys(item.binary);\n  return keys.length > 0 ? item.binary[keys[0]] : null;\n};\n\nconst mainVideo = getFirstBinary(items[0]);\nif (!mainVideo) throw new Error('Main video binary not found!');\n\nconst binaryData = {};\nbinaryData['video'] = mainVideo;\n\nconst playgroundVideo = getFirstBinary(items[1]);\nif (playgroundVideo) binaryData['playground_video'] = playgroundVideo;\n\nconst audio = getFirstBinary(items[2]);\nif (audio) binaryData['audio'] = audio;\n\nconst bgImage = getFirstBinary(items[3]);\nif (bgImage) binaryData['background_image'] = bgImage;\n\n\n\nreturn [{ json: {}, binary: binaryData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1376
      ],
      "id": "f12b0261-d039-4faf-97bc-38e313fec67f",
      "name": "rename_data"
    },
    {
      "parameters": {
        "content": "## example of HTTP - cinematic_blur\n@[youtube](---RTn0pQQc)\n\n",
        "height": 480,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3168,
        1408
      ],
      "typeVersion": 1,
      "id": "d8056bf7-8f3e-4ebd-b6c1-b583ba9153bc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 🎨 الملفات العشوائية\n\n## 🎮 Playground Video\nبيختار فيديو عشوائي من Google Drive\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 🎵 الموسيقى\nبيختار موسيقى عشوائية من Google Drive\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 🖼️ الخلفية\nبيختار صورة عشوائية من Google Drive",
        "height": 976,
        "width": 176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        864
      ],
      "typeVersion": 1,
      "id": "0327a720-c88e-4657-ab1d-76d5c23e8594",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alisaadeng-auto-cliper.hf.space/auto-clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "style",
              "value": "split_vertical"
            },
            {
              "name": "caption_mode",
              "value": "word"
            },
            {
              "name": "caption_style",
              "value": "modern_glow"
            },
            {
              "name": "language",
              "value": "auto"
            },
            {
              "name": "bg_music_volume",
              "value": "0.1"
            },
            {
              "name": "webhook_url",
              "value": "https://alisaadeng-n8n.hf.space/webhook/60503b8b-7607-4a01-9357-3e9fd5fd8007"
            },
            {
              "name": "channel_name",
              "value": "main"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "video"
            },
            {
              "parameterType": "formBinaryData",
              "name": "playground_video",
              "inputDataFieldName": "playground_video"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        1216
      ],
      "id": "9ff4eb5f-ac79-4da5-83e9-08de01d49eb7",
      "name": "split_vertical"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        1168
      ],
      "id": "ea561227-b7c6-4ceb-91c6-9545c0625eb6",
      "name": "Download Playground",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1088,
        1376
      ],
      "id": "338bd987-50dc-4436-90c1-63fc07a2eeb0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').first().json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        1376
      ],
      "id": "1494a3ab-fb85-41ac-b80b-92778087aa16",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ex510-auto-cliper.hf.space/auto-clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "style",
              "value": "cinematic"
            },
            {
              "name": "caption_mode",
              "value": "highlight_word"
            },
            {
              "name": "caption_style",
              "value": "modern_glow"
            },
            {
              "name": "language",
              "value": "auto"
            },
            {
              "name": "bg_music_volume",
              "value": "0.1"
            },
            {
              "name": "webhook_url",
              "value": "https://alisaadeng-n8n.hf.space/webhook/60503b8b-7607-4a01-9357-3e9fd5fd8007"
            },
            {
              "name": "channel_name",
              "value": "main"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "playground_video"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "background_image",
              "inputDataFieldName": "background_image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        1520
      ],
      "id": "92149415-04fd-42bc-a06f-53d22f736b99",
      "name": "cinematic"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gI8uzqecHMyqWKCoDdGrcc0eQeqWwZi0",
            "mode": "list",
            "cachedResultName": "alisaad",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gI8uzqecHMyqWKCoDdGrcc0eQeqWwZi0"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1536,
        1280
      ],
      "id": "fa5d441c-3d0c-49ab-ad9a-c6387368f411",
      "name": "video_firstchannal",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1hTpKUnNVzD1gOnpUeqsn_CGQHoajW_-t",
            "mode": "list",
            "cachedResultName": "scaler",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1hTpKUnNVzD1gOnpUeqsn_CGQHoajW_-t"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1536,
        1472
      ],
      "id": "83565bb8-6114-4fdc-9491-ffc756ce76cb",
      "name": "second_channel",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alisaadeng-auto-cliper.hf.space/auto-clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_name",
              "value": "=main"
            },
            {
              "name": "secondary_video_volume",
              "value": "0.2"
            },
            {
              "name": "style",
              "value": "cinematic_blur"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            },
            {
              "name": "caption_style",
              "value": "youtube_clean"
            },
            {
              "name": "language",
              "value": "auto"
            },
            {
              "name": "caption_mode",
              "value": "highlight_word"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "video"
            },
            {
              "name": "webhook_url",
              "value": "https://alisaadeng-n8n.hf.space/webhook/alisaadeng"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        1376
      ],
      "id": "ac9b973c-e2e2-48dc-987e-c737c74823b1",
      "name": "cinematic_blure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alisaadeng-auto-cliper.hf.space/auto-clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_name",
              "value": "=ai"
            },
            {
              "name": "secondary_video_volume",
              "value": "0.2"
            },
            {
              "name": "style",
              "value": "vertical_full"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "audio"
            },
            {
              "name": "caption_style",
              "value": "={{ $('editfile').first().json.caption }}"
            },
            {
              "name": "caption_mode",
              "value": "highlight_word"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "video"
            },
            {
              "name": "webhook_url",
              "value": "https://alisaadeng-n8n.hf.space/webhook/alisaadeng"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        1680
      ],
      "id": "da6462b3-40a9-49f2-9173-2daaf31064ab",
      "name": "vertical_full"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ecaef27-7cda-4e8e-bedd-4f8f4d576dbb",
              "name": "channal",
              "value": "ai",
              "type": "string"
            },
            {
              "id": "6a324c8e-ddcd-4ea4-bce8-cb53fe41bcf4",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "fef1ee5f-eb99-4c4b-90fa-b7b72a4cf399",
              "name": "caption",
              "value": "classic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1280
      ],
      "id": "c8354fdc-d122-4880-a541-819d365fc910",
      "name": "editfile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ecaef27-7cda-4e8e-bedd-4f8f4d576dbb",
              "name": "channal",
              "value": "scopewire",
              "type": "string"
            },
            {
              "id": "6a324c8e-ddcd-4ea4-bce8-cb53fe41bcf4",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7b94076f-34cb-450d-a7c2-5dabec0b207a",
              "name": "caption",
              "value": "none",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1472
      ],
      "id": "52604459-38e7-47ab-9e69-fb4e8ca96f69",
      "name": "scopewire"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alisaadeng",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1824,
        992
      ],
      "id": "5d0a5976-0f9c-4324-9f91-ea195507e1fc",
      "name": "Webhook1",
      "webhookId": "5246337d-926b-4c78-a638-2af97b030503"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        1376
      ],
      "id": "503982ce-38ce-4b59-8663-87decd62c19e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SnFPfhTzxR7wpVRn",
          "mode": "list",
          "cachedResultUrl": "/workflow/SnFPfhTzxR7wpVRn",
          "cachedResultName": "Video clipping alisaadeng"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        2016
      ],
      "id": "a63d3a69-d2a9-41d3-b978-896a8b4781b4",
      "name": "Call 'Video clipping alisaadeng'"
    },
    {
      "parameters": {
        "url": "={{ $json.artifacts[0].archive_download_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        2112
      ],
      "id": "672025ce-29eb-48b2-bb6b-c1b4d9e6a413",
      "name": "donlowd vide"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repo }}/actions/runs/{{$json.body.run_id }}/artifacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        2112
      ],
      "id": "91734481-d0b7-4fce-adcb-4ec8fda4e669",
      "name": "run actore",
      "credentials": {
        "httpBearerAuth": {
          "id": "tRxWhNUl4kCgsKHR",
          "name": "github action"
        }
      }
    },
    {
      "parameters": {
        "command": "unzip -o /tmp/video.zip -d /tmp/extracted && ls /tmp/extracted/*.mp4 | head -1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -848,
        2112
      ],
      "id": "0d1b2843-60e3-444e-9b08-c594cf10e2fc",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/video.zip",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1072,
        2112
      ],
      "id": "6b811f7e-029d-4fbf-a601-e44a869ebf9f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.stdout.split('\\n').pop().trim() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -624,
        2112
      ],
      "id": "8cef483d-09e2-4796-892e-5c61cba78ba0",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "const cookies = $('run action').item.json.body.cookies_txt || '';\nconst cookies_b64 = Buffer.from(cookies).toString('base64');\n\nreturn [{ json: { cookies_b64 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        2256
      ],
      "id": "8c8e21b0-418b-436a-904f-ddb700c5c882",
      "name": "Encode Cookies"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-downlod",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        2112
      ],
      "id": "a342fec4-524e-42dd-84db-af87aeb1dba7",
      "name": "downlode video1",
      "webhookId": "8a5729d2-915a-4428-9c2f-ba6550d02b8a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run gethup action",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        2256
      ],
      "id": "feaf077e-0ba9-4e63-b97f-88f3208c1e05",
      "name": "run action",
      "webhookId": "f5f00bab-1908-4df6-bd1a-403c2fff85d3"
    },
    {
      "parameters": {
        "command": "rm -rf /tmp/*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -176,
        2272
      ],
      "id": "dc44a1a5-c592-41b6-8965-3af0d8d69710",
      "name": "delet files"
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gI8uzqecHMyqWKCoDdGrcc0eQeqWwZi0",
          "mode": "list",
          "cachedResultName": "alisaad",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gI8uzqecHMyqWKCoDdGrcc0eQeqWwZi0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        2112
      ],
      "id": "a62d1cdb-6883-4c85-b91e-a061296b8bef",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vuNW1XYxiCab2byp",
          "name": "anton"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/expher510/yt-dlp/actions/workflows/download.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"video_url\": \"{{ $('run action').item.json.body.url }}\",\n    \"cookies_b64\": \"{{ $('Encode Cookies').item.json.cookies_b64 }}\",\n    \"n8n_webhook\": \"https://alisaadeng-n8n.hf.space/webhook/github-downlod\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1296,
        2256
      ],
      "id": "98ff06f6-fcd3-4845-ae21-0c6955aaa450",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "tRxWhNUl4kCgsKHR",
          "name": "github action"
        }
      }
    },
    {
      "parameters": {
        "content": "# downlode youtube vide with the chrome extention",
        "height": 464,
        "width": 2048
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        1984
      ],
      "typeVersion": 1,
      "id": "60b0162e-80c5-48d7-8733-80dbe3b86695",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "44.196.116.2",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "alisaadeng-n8n.hf.space",
            "x-amzn-trace-id": "Root=1-69ce41de-659a551c722167d13fdec3c0",
            "content-length": "34258",
            "user-agent": "python-requests/2.33.0",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json",
            "x-request-id": "y3IqAL, y3IqAL",
            "x-ip-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpcCI6IjQ0LjE5Ni4xMTYuMiIsInVzZXIiOm51bGwsInV1aWQiOm51bGwsImVycm9yIjpudWxsLCJleHAiOjE3NzUxMjUwMTh9.b2RYKni8Fd0X9ACJ36xRbxjTNkKQF_RbWSVQF_VRHfo",
            "x-direct-url": "https://alisaadeng-n8n.hf.space/--replicas/5hvdr/webhook/alisaadeng"
          },
          "params": {},
          "query": {},
          "body": {
            "status": "success",
            "task_id": "bab33d8d",
            "clips_found": 1,
            "output_files": [
              "viral_bab33d8d_1_cinematic_blur.mp4"
            ],
            "full_transcript": "Hi guys, I'm back with another video and can you believe it? Half the year has already flown by and anime has been delivering non -stop from fresh new titles to epic returning seasons. Honestly, this year has been nothing short of amazing for us, so buckle up because today we're counting down the top 10 best anime of the year so far. No matter what you're into, action, romance, or pure chaos, there's something in here for everyone, so let's begin the video. On number 10, got on number 9. Sakamoto Days is about a legendary hitman who retires, gets married and opens a convenience store. But surprise, surprise. Being an ex -assassin isn't something you can just clock out of. So between selling snacks and dealing with his dad bod, Sakamoto ends up back in the game, and I'm gonna be honest here, it's hilarious. The action is amazing, fast, creative, and so different from your usual flashy anime fights. Not every show has to be the next solo leveling, and Sakamoto Days proves it by carving out its own identity. The art style is slick, the comedy lands perfectly, and I swear this might be the most bingeable anime you'll get this year. And I think we as a community should try to keep an open mind about new things studios want to try, rather than keep criticizing everything, so if you like action comedy and you want something to binge, this is your jam right here. On number 8. Secrets of the Silent Witch follows Monica, the most powerful mage around, who also happens to be shy, awkward, and basically allergic to social interaction. Instead of flexing her insane magic, she's just trying to survive Academy Life and protect the prince without dying of embarrassment. And somehow, that's what makes it so fun to watch. This fantasy keeps itself surprisingly grounded. It's not all explosions and dragon slaying. It's about a girl figuring herself out while also carrying this ridiculous magical talent. It's kinda addictive, the characters are adorable, the production quality is straight up cinema with beautiful animation and a killer soundtrack, and yet somehow this anime is still criminally underrated. If you're sleeping on this one, you're seriously missing out on one of the hidden gems of the year. On number 7. To be Hero X is an anthology series all about superheroes, but with a twist, you've got this wristband that literally measures popularity, and the more popular a hero is, the stronger they become. So yeah, saving the world kind of depends on your cloud score. Now here's where it gets crazy impressive. The action is god tier. Every hero's story feels unique and interesting, and it never drops the ball on consistency. And because it's an anthology, you're never stuck with one character too long. It always keeps things moving and fresh. But the real flex is this anime switches art styles mid -fight like it's nothing, and some heroes even come with their own completely different art style, which makes it even better. At the end of the day, it's just a super fun watch that feels fresh, creative, and way different from your usual superhero anime. On number 6. Fragrant Flower Blooms with Dignity starts off looking like your typical high school romance. You know, Tallboy meets Quiet Library Girl, but here's the twist. The Quiet Girl, Wagori, isn't just any love interest. She's the kind of character that instantly makes you go, oh, she's special. She's kind, grounded, and easily one of the best written female characters romance anime has given us in a while. Like, Blue Box did a great job too, but Wagori just feels different. She carries the show with how genuine and refreshing she is. It might look like just another school romance at first. And honestly, yeah, in the beginning, it does feel like your typical love story, but give it a little time and it completely wins you over. The romance is actually really good, grounded, smooth, and feels way more real than most anime out there. This is the kind of romance anime that reminds you why you fell in love with the genre in the first place. 5. Solo leveling is basically the new popular kid in the action genre. It's a power fantasy where our guy Jinwoo starts off weak as hell, then gets a power up, and from there it's just non -stop glow -ups, or a farming, and boss fights. The anime doesn't pretend to be deep, it knows exactly what it is. Pure action, and it does that really well. The fights are slick, the music is catchy, and the visuals look great. Honestly, it's the kind that's perfect for someone new to anime. Like my friend, who never watched anime in his life, then he binge solo leveling and now he's hyped to watch the new Demon Slayer movie with me next month. Well, both seasons handle the man -walt adaptation really well, and while it doesn't add much depth to Jinwoo's character, it makes up for it with spectacle. At the end of the day, it doesn't try to be anything it isn't. It's straight up action, and that's why it works. If you're here for the story, look elsewhere. But if you just want to see walls break, monsters explode, Jinwoo flex his powers, and non -stop aura farming. This is your jam. On number 4. Dan to Dan is one of those anime that makes you go, wait, what did I just watch? But in the best way possible, it throws aliens, ghosts, and curses into a blender. Add some high speed action and off the wall comedy, and somehow makes it all work perfectly. It's weird. It's funny, and it does both so ridiculously well. The characters are instantly memorable. Each of them feels larger than life, but still grounded enough to care about. Production is absolute fire. The animation is smooth and explosive. The OSTs hit at just the right moments, and it all comes together to make this anime feel completely unique. Dandadan isn't just another seasonal release. It's one of those unforgettable experiences that reminds you why anime is so fun in the first place. If you want something wild, stylish, and unlike anything else this year, this is the ride you don't want to miss. On number 3, the Apothecary Diaries takes you into the Imperial Court where poison, secrets, and shady politics are everywhere. Our main girl Maumau is just trying to mind her own business, but her crazy sharp mind and sarcastic attitude keep dragging her into mystery after mystery. I'm going to be totally honest with you watching her solve cases while roasting people along the way is half the fun. The story is mysterious and smart, it keeps you guessing without ever feeling overcomplicated. The art is gorgeous, the world feels rich, and the chemistry between Mao Mao and Jinshi absolute gold. It's got this perfect mix of historical drama with a sprinkle of mystery that makes it addictively watchable. This isn't just another period drama, it's beautiful, clever, and one of the most satisfying anime to binge this year. If you want to show that makes your brain work and keeps you hooked, this is the one you can't skip. on number two. Lord of Mysteries is the kind of anime that grabs you from the first episode and drags you straight into its dark, mysterious world. You don't want to leave, the story is mysterious and smart, it keeps you guessing at every turn, and just when you think you figured something out, it flips the table on you. It's kind of confusing, but it's only going to get better from here. The animation is god tier. It's cinematic, detailed, and nails that eerie, gothic vibe perfectly. And let me tell you, the anime studio already announced six seasons in a movie. Yeah, it's that good. Every frame feels like it was crafted to pull you deeper into the mystery. It's rich, it's dark, and it's the kind of anime that makes you pay attention to every little clue. If you're looking for a story that's smart, stylish, and unforgettable, this is peak dark fantasy done right. Before we jump into number one, here are some honorable mentions that were just too good not to include. Tocopy's original sin is one of those anime that tricks you right from the start. You see this cute pink Kirby looking alien octopus and think, oh this is going to be wholesome. Nope. It's a trap. What you actually get is a twisted parody of Dorymon. You've got the helpless kid, Shizuka, and the magical buddy from the future, Takope, with his pouch of happy gadgets. But instead of fixing homework problems or scaring off bullies, everything spirals into a world of neglect, abuse, and pain that feels so suffocatingly real. Takope, with his simple, happy brain, means well, but every attempt to help just makes things worse. And that's where the chaos comes in. The story cuts deep, like a surgeon's scalpel, dissecting trauma and brokenness in a way most anime wouldn't dare. These six episodes are nothing short of a masterpiece of anime art, short, sharp, and unforgettable. It's not just good, it's the kind of once in years anime that people remember because it's so unique and brutally honest. If you think anime can't hit you in the gut while smiling at you with a goofy octopus face, this one will prove you wrong. And that's a wrap. This year has been packed with heat, amazing stories, insane action, gorgeous visuals, and some real good stuff. But hey, this is just my list. Now I want to hear from you guys, which anime was your favorite this year? Did I miss one you think should have made the cut? Drop it in the comments, I'll be checking them out. If you enjoyed the video don't forget to hit that like button and subscribe if you haven't already. I'll see you in the next one. Peace out. ",
            "clip_transcripts": [
              {
                "clip_index": 1,
                "filename": "viral_bab33d8d_1_cinematic_blur.mp4",
                "start": 461.4,
                "end": 524.66,
                "language": "en",
                "segments": [
                  {
                    "text": "Tocopy's original sin is one of those anime that tricks you right from the start.",
                    "start": 0,
                    "end": 4.3799999999999955,
                    "words": [
                      {
                        "text": "Tocopy's",
                        "start": 0,
                        "end": 0.5200000000000387,
                        "is_highlight": false
                      },
                      {
                        "text": "original",
                        "start": 0.5200000000000387,
                        "end": 0.9000000000000341,
                        "is_highlight": false
                      },
                      {
                        "text": "sin",
                        "start": 0.9000000000000341,
                        "end": 1.240000000000009,
                        "is_highlight": false
                      },
                      {
                        "text": "is",
                        "start": 1.240000000000009,
                        "end": 1.5,
                        "is_highlight": false
                      },
                      {
                        "text": "one",
                        "start": 1.5,
                        "end": 1.740000000000009,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 1.740000000000009,
                        "end": 1.82000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "those",
                        "start": 1.82000000000005,
                        "end": 2.0600000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "anime",
                        "start": 2.0600000000000023,
                        "end": 2.4600000000000364,
                        "is_highlight": false
                      },
                      {
                        "text": "that",
                        "start": 2.4600000000000364,
                        "end": 2.7800000000000296,
                        "is_highlight": false
                      },
                      {
                        "text": "tricks",
                        "start": 2.7800000000000296,
                        "end": 3.0600000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 3.0600000000000023,
                        "end": 3.340000000000032,
                        "is_highlight": false
                      },
                      {
                        "text": "right",
                        "start": 3.340000000000032,
                        "end": 3.6200000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "from",
                        "start": 3.6200000000000045,
                        "end": 3.840000000000032,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 3.840000000000032,
                        "end": 4,
                        "is_highlight": false
                      },
                      {
                        "text": "start.",
                        "start": 4,
                        "end": 4.3799999999999955,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "Tocopy's original sin is one of those",
                    "_line2": "anime that tricks you right from the star…"
                  },
                  {
                    "text": "You see this cute pink Kirby looking alien octopus and think,",
                    "start": 4.6200000000000045,
                    "end": 8.120000000000005,
                    "words": [
                      {
                        "text": "You",
                        "start": 4.6200000000000045,
                        "end": 4.680000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "see",
                        "start": 4.680000000000007,
                        "end": 4.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "this",
                        "start": 4.900000000000034,
                        "end": 5.100000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "cute",
                        "start": 5.100000000000023,
                        "end": 5.400000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "pink",
                        "start": 5.400000000000034,
                        "end": 5.78000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "Kirby",
                        "start": 5.78000000000003,
                        "end": 6.220000000000027,
                        "is_highlight": false
                      },
                      {
                        "text": "looking",
                        "start": 6.220000000000027,
                        "end": 6.580000000000041,
                        "is_highlight": false
                      },
                      {
                        "text": "alien",
                        "start": 6.580000000000041,
                        "end": 6.980000000000018,
                        "is_highlight": false
                      },
                      {
                        "text": "octopus",
                        "start": 6.980000000000018,
                        "end": 7.360000000000014,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 7.360000000000014,
                        "end": 7.740000000000009,
                        "is_highlight": false
                      },
                      {
                        "text": "think,",
                        "start": 7.740000000000009,
                        "end": 8.120000000000005,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "You see this cute pink Kirby",
                    "_line2": "looking alien octopus and think,"
                  },
                  {
                    "text": "oh this is going to be wholesome. Nope. It's a trap. What you actually",
                    "start": 8.300000000000011,
                    "end": 12.200000000000045,
                    "words": [
                      {
                        "text": "oh",
                        "start": 8.300000000000011,
                        "end": 8.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "this",
                        "start": 8.420000000000016,
                        "end": 8.660000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "is",
                        "start": 8.660000000000025,
                        "end": 8.840000000000032,
                        "is_highlight": false
                      },
                      {
                        "text": "going",
                        "start": 8.840000000000032,
                        "end": 8.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "to",
                        "start": 8.960000000000036,
                        "end": 9.04000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "be",
                        "start": 9.04000000000002,
                        "end": 9.180000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "wholesome.",
                        "start": 9.180000000000007,
                        "end": 9.660000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "Nope.",
                        "start": 10.060000000000002,
                        "end": 10.260000000000048,
                        "is_highlight": false
                      },
                      {
                        "text": "It's",
                        "start": 10.640000000000043,
                        "end": 10.82000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 10.82000000000005,
                        "end": 10.879999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "trap.",
                        "start": 10.879999999999995,
                        "end": 11.260000000000048,
                        "is_highlight": false
                      },
                      {
                        "text": "What",
                        "start": 11.54000000000002,
                        "end": 11.620000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 11.620000000000005,
                        "end": 11.720000000000027,
                        "is_highlight": false
                      },
                      {
                        "text": "actually",
                        "start": 11.720000000000027,
                        "end": 12.200000000000045,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "oh this is going to be wholesome.",
                    "_line2": "Nope. It's a trap. What you actually"
                  },
                  {
                    "text": "get is a twisted parody of Dorymon. You've got the helpless kid,",
                    "start": 12.240000000000066,
                    "end": 15.640000000000043,
                    "words": [
                      {
                        "text": "get",
                        "start": 12.200000000000045,
                        "end": 12.439999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "is",
                        "start": 12.439999999999998,
                        "end": 12.580000000000041,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 12.580000000000041,
                        "end": 12.700000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "twisted",
                        "start": 12.700000000000045,
                        "end": 13.020000000000039,
                        "is_highlight": false
                      },
                      {
                        "text": "parody",
                        "start": 13.020000000000039,
                        "end": 13.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 13.420000000000016,
                        "end": 13.680000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "Dorymon.",
                        "start": 13.680000000000007,
                        "end": 14.200000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "You've",
                        "start": 14.200000000000045,
                        "end": 14.600000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "got",
                        "start": 14.600000000000023,
                        "end": 14.700000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 14.700000000000045,
                        "end": 14.879999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "helpless",
                        "start": 14.879999999999995,
                        "end": 15.220000000000027,
                        "is_highlight": false
                      },
                      {
                        "text": "kid,",
                        "start": 15.220000000000027,
                        "end": 15.640000000000043,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "get is a twisted parody of Dorymon.",
                    "_line2": "You've got the helpless kid,"
                  },
                  {
                    "text": "Shizuka, and the magical buddy from the future, Takope,",
                    "start": 15.920000000000016,
                    "end": 19.180000000000007,
                    "words": [
                      {
                        "text": "Shizuka,",
                        "start": 15.920000000000016,
                        "end": 16.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 16.74000000000001,
                        "end": 16.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 16.80000000000001,
                        "end": 16.920000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "magical",
                        "start": 16.920000000000016,
                        "end": 17.340000000000032,
                        "is_highlight": false
                      },
                      {
                        "text": "buddy",
                        "start": 17.340000000000032,
                        "end": 17.660000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "from",
                        "start": 17.660000000000025,
                        "end": 17.860000000000014,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 17.860000000000014,
                        "end": 18,
                        "is_highlight": false
                      },
                      {
                        "text": "future,",
                        "start": 18,
                        "end": 18.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "Takope,",
                        "start": 18.720000000000027,
                        "end": 19.180000000000007,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "Shizuka, and the magical",
                    "_line2": "buddy from the future, Takope,"
                  },
                  {
                    "text": "with his pouch of happy gadgets. But instead of fixing homework problems or scaring",
                    "start": 19.379999999999995,
                    "end": 23.74000000000001,
                    "words": [
                      {
                        "text": "with",
                        "start": 19.379999999999995,
                        "end": 19.480000000000018,
                        "is_highlight": false
                      },
                      {
                        "text": "his",
                        "start": 19.480000000000018,
                        "end": 19.620000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "pouch",
                        "start": 19.620000000000005,
                        "end": 19.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 19.900000000000034,
                        "end": 20.100000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "happy",
                        "start": 20.100000000000023,
                        "end": 20.439999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "gadgets.",
                        "start": 20.439999999999998,
                        "end": 20.920000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "But",
                        "start": 21.360000000000014,
                        "end": 21.460000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "instead",
                        "start": 21.460000000000036,
                        "end": 21.760000000000048,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 21.760000000000048,
                        "end": 21.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "fixing",
                        "start": 21.900000000000034,
                        "end": 22.160000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "homework",
                        "start": 22.160000000000025,
                        "end": 22.620000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "problems",
                        "start": 22.620000000000005,
                        "end": 23.100000000000023,
                        "is_highlight": false
                      },
                      {
                        "text": "or",
                        "start": 23.100000000000023,
                        "end": 23.360000000000014,
                        "is_highlight": false
                      },
                      {
                        "text": "scaring",
                        "start": 23.360000000000014,
                        "end": 23.74000000000001,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "with his pouch of happy gadgets. But",
                    "_line2": "instead of fixing homework problems or sc…"
                  },
                  {
                    "text": "off bullies, everything spirals into a world of neglect,",
                    "start": 23.78000000000003,
                    "end": 26.720000000000027,
                    "words": [
                      {
                        "text": "off",
                        "start": 23.74000000000001,
                        "end": 24,
                        "is_highlight": false
                      },
                      {
                        "text": "bullies,",
                        "start": 24,
                        "end": 24.439999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "everything",
                        "start": 24.620000000000005,
                        "end": 24.920000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "spirals",
                        "start": 24.920000000000016,
                        "end": 25.480000000000018,
                        "is_highlight": false
                      },
                      {
                        "text": "into",
                        "start": 25.480000000000018,
                        "end": 25.74000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 25.74000000000001,
                        "end": 25.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "world",
                        "start": 25.900000000000034,
                        "end": 26.160000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 26.160000000000025,
                        "end": 26.379999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "neglect,",
                        "start": 26.379999999999995,
                        "end": 26.720000000000027,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "off bullies, everything spirals",
                    "_line2": "into a world of neglect,"
                  },
                  {
                    "text": "abuse, and pain that feels so suffocatingly real. Takope,",
                    "start": 27.060000000000002,
                    "end": 31.160000000000025,
                    "words": [
                      {
                        "text": "abuse,",
                        "start": 27.060000000000002,
                        "end": 27.379999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 27.720000000000027,
                        "end": 27.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "pain",
                        "start": 27.80000000000001,
                        "end": 28.140000000000043,
                        "is_highlight": false
                      },
                      {
                        "text": "that",
                        "start": 28.140000000000043,
                        "end": 28.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "feels",
                        "start": 28.420000000000016,
                        "end": 28.680000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "so",
                        "start": 28.680000000000007,
                        "end": 29.04000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "suffocatingly",
                        "start": 29.04000000000002,
                        "end": 29.980000000000018,
                        "is_highlight": false
                      },
                      {
                        "text": "real.",
                        "start": 29.980000000000018,
                        "end": 30.340000000000032,
                        "is_highlight": false
                      },
                      {
                        "text": "Takope,",
                        "start": 30.700000000000045,
                        "end": 31.160000000000025,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "abuse, and pain that feels so",
                    "_line2": "suffocatingly real. Takope,"
                  },
                  {
                    "text": "with his simple, happy brain, means well, but every attempt to help just makes",
                    "start": 31.400000000000034,
                    "end": 35.54000000000002,
                    "words": [
                      {
                        "text": "with",
                        "start": 31.400000000000034,
                        "end": 31.58000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "his",
                        "start": 31.58000000000004,
                        "end": 31.680000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "simple,",
                        "start": 31.680000000000007,
                        "end": 32.10000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "happy",
                        "start": 32.28000000000003,
                        "end": 32.52000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "brain,",
                        "start": 32.52000000000004,
                        "end": 32.84000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "means",
                        "start": 33.22000000000003,
                        "end": 33.34000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "well,",
                        "start": 33.34000000000003,
                        "end": 33.78000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "but",
                        "start": 34.04000000000002,
                        "end": 34.10000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "every",
                        "start": 34.10000000000002,
                        "end": 34.400000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "attempt",
                        "start": 34.400000000000034,
                        "end": 34.68000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "to",
                        "start": 34.68000000000001,
                        "end": 34.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "help",
                        "start": 34.900000000000034,
                        "end": 35.120000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "just",
                        "start": 35.120000000000005,
                        "end": 35.34000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "makes",
                        "start": 35.34000000000003,
                        "end": 35.54000000000002,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "with his simple, happy brain, means well,",
                    "_line2": "but every attempt to help just makes"
                  },
                  {
                    "text": "things worse. And that's where the chaos comes in. The story cuts deep,",
                    "start": 35.58000000000004,
                    "end": 39.5,
                    "words": [
                      {
                        "text": "things",
                        "start": 35.54000000000002,
                        "end": 35.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "worse.",
                        "start": 35.80000000000001,
                        "end": 36.22000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "And",
                        "start": 36.64000000000004,
                        "end": 36.74000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "that's",
                        "start": 36.74000000000001,
                        "end": 37.04000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "where",
                        "start": 37.04000000000002,
                        "end": 37.14000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 37.14000000000004,
                        "end": 37.28000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "chaos",
                        "start": 37.28000000000003,
                        "end": 37.60000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "comes",
                        "start": 37.60000000000002,
                        "end": 37.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "in.",
                        "start": 37.960000000000036,
                        "end": 38.28000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "The",
                        "start": 38.28000000000003,
                        "end": 38.52000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "story",
                        "start": 38.52000000000004,
                        "end": 38.84000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "cuts",
                        "start": 38.84000000000003,
                        "end": 39.120000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "deep,",
                        "start": 39.120000000000005,
                        "end": 39.5,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "things worse. And that's where the",
                    "_line2": "chaos comes in. The story cuts deep,"
                  },
                  {
                    "text": "like a surgeon's scalpel, dissecting trauma and brokenness in a way most anime",
                    "start": 39.76000000000005,
                    "end": 43.84000000000003,
                    "words": [
                      {
                        "text": "like",
                        "start": 39.76000000000005,
                        "end": 39.84000000000003,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 39.84000000000003,
                        "end": 39.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "surgeon's",
                        "start": 39.960000000000036,
                        "end": 40.52000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "scalpel,",
                        "start": 40.52000000000004,
                        "end": 40.920000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "dissecting",
                        "start": 41.04000000000002,
                        "end": 41.58000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "trauma",
                        "start": 41.58000000000004,
                        "end": 41.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 41.80000000000001,
                        "end": 42.120000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "brokenness",
                        "start": 42.120000000000005,
                        "end": 42.76000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "in",
                        "start": 42.76000000000005,
                        "end": 42.920000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 42.920000000000016,
                        "end": 43.02000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "way",
                        "start": 43.02000000000004,
                        "end": 43.18000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "most",
                        "start": 43.18000000000001,
                        "end": 43.48000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "anime",
                        "start": 43.48000000000002,
                        "end": 43.84000000000003,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "like a surgeon's scalpel, dissecting",
                    "_line2": "trauma and brokenness in a way most anime"
                  },
                  {
                    "text": "wouldn't dare. These six episodes are nothing short of a masterpiece of anime art,",
                    "start": 43.88000000000005,
                    "end": 48.30000000000001,
                    "words": [
                      {
                        "text": "wouldn't",
                        "start": 43.84000000000003,
                        "end": 44.460000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "dare.",
                        "start": 44.460000000000036,
                        "end": 44.74000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "These",
                        "start": 45.02000000000004,
                        "end": 45.120000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "six",
                        "start": 45.120000000000005,
                        "end": 45.420000000000016,
                        "is_highlight": false
                      },
                      {
                        "text": "episodes",
                        "start": 45.420000000000016,
                        "end": 45.82000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "are",
                        "start": 45.82000000000005,
                        "end": 46.08000000000004,
                        "is_highlight": false
                      },
                      {
                        "text": "nothing",
                        "start": 46.08000000000004,
                        "end": 46.400000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "short",
                        "start": 46.400000000000034,
                        "end": 46.660000000000025,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 46.660000000000025,
                        "end": 46.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 46.80000000000001,
                        "end": 46.879999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "masterpiece",
                        "start": 46.879999999999995,
                        "end": 47.24000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 47.24000000000001,
                        "end": 47.60000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "anime",
                        "start": 47.60000000000002,
                        "end": 47.900000000000034,
                        "is_highlight": false
                      },
                      {
                        "text": "art,",
                        "start": 47.900000000000034,
                        "end": 48.30000000000001,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "wouldn't dare. These six episodes are nothing",
                    "_line2": "short of a masterpiece of anime art,"
                  },
                  {
                    "text": "short, sharp, and unforgettable. It's not just good,",
                    "start": 48.60000000000002,
                    "end": 51.680000000000064,
                    "words": [
                      {
                        "text": "short,",
                        "start": 48.60000000000002,
                        "end": 48.76000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "sharp,",
                        "start": 49.160000000000025,
                        "end": 49.32000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 49.60000000000002,
                        "end": 49.80000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "unforgettable.",
                        "start": 49.80000000000001,
                        "end": 50.379999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "It's",
                        "start": 50.80000000000007,
                        "end": 50.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "not",
                        "start": 50.960000000000036,
                        "end": 51.10000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "just",
                        "start": 51.10000000000002,
                        "end": 51.379999999999995,
                        "is_highlight": false
                      },
                      {
                        "text": "good,",
                        "start": 51.379999999999995,
                        "end": 51.680000000000064,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "short, sharp, and unforgettable.",
                    "_line2": "It's not just good,"
                  },
                  {
                    "text": "it's the kind of once in years anime that people remember because it's so",
                    "start": 51.98000000000002,
                    "end": 55.200000000000045,
                    "words": [
                      {
                        "text": "it's",
                        "start": 51.98000000000002,
                        "end": 52.120000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 52.120000000000005,
                        "end": 52.24000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "kind",
                        "start": 52.24000000000001,
                        "end": 52.42000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "of",
                        "start": 52.42000000000007,
                        "end": 52.56000000000006,
                        "is_highlight": false
                      },
                      {
                        "text": "once",
                        "start": 52.56000000000006,
                        "end": 52.74000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "in",
                        "start": 52.74000000000001,
                        "end": 52.89999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "years",
                        "start": 52.89999999999998,
                        "end": 53.06000000000006,
                        "is_highlight": false
                      },
                      {
                        "text": "anime",
                        "start": 53.06000000000006,
                        "end": 53.460000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "that",
                        "start": 53.460000000000036,
                        "end": 53.680000000000064,
                        "is_highlight": false
                      },
                      {
                        "text": "people",
                        "start": 53.680000000000064,
                        "end": 53.92000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "remember",
                        "start": 53.92000000000007,
                        "end": 54.42000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "because",
                        "start": 54.42000000000007,
                        "end": 54.700000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "it's",
                        "start": 54.700000000000045,
                        "end": 54.98000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "so",
                        "start": 54.98000000000002,
                        "end": 55.200000000000045,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "it's the kind of once in years anime",
                    "_line2": "that people remember because it's so"
                  },
                  {
                    "text": "unique and brutally honest. If you think anime can't hit you in the gut",
                    "start": 55.24000000000001,
                    "end": 58.92000000000007,
                    "words": [
                      {
                        "text": "unique",
                        "start": 55.200000000000045,
                        "end": 55.639999999999986,
                        "is_highlight": false
                      },
                      {
                        "text": "and",
                        "start": 55.639999999999986,
                        "end": 55.89999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "brutally",
                        "start": 55.89999999999998,
                        "end": 56.139999999999986,
                        "is_highlight": false
                      },
                      {
                        "text": "honest.",
                        "start": 56.139999999999986,
                        "end": 56.940000000000055,
                        "is_highlight": false
                      },
                      {
                        "text": "If",
                        "start": 57.10000000000002,
                        "end": 57.180000000000064,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 57.180000000000064,
                        "end": 57.25999999999999,
                        "is_highlight": false
                      },
                      {
                        "text": "think",
                        "start": 57.25999999999999,
                        "end": 57.460000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "anime",
                        "start": 57.460000000000036,
                        "end": 57.700000000000045,
                        "is_highlight": false
                      },
                      {
                        "text": "can't",
                        "start": 57.700000000000045,
                        "end": 58.180000000000064,
                        "is_highlight": false
                      },
                      {
                        "text": "hit",
                        "start": 58.180000000000064,
                        "end": 58.25999999999999,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 58.25999999999999,
                        "end": 58.42000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "in",
                        "start": 58.42000000000007,
                        "end": 58.51999999999998,
                        "is_highlight": false
                      },
                      {
                        "text": "the",
                        "start": 58.51999999999998,
                        "end": 58.639999999999986,
                        "is_highlight": false
                      },
                      {
                        "text": "gut",
                        "start": 58.639999999999986,
                        "end": 58.92000000000007,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "unique and brutally honest. If you",
                    "_line2": "think anime can't hit you in the gut"
                  },
                  {
                    "text": "while smiling at you with a goofy octopus face, this one will prove you wrong.",
                    "start": 58.960000000000036,
                    "end": 63.25999999999999,
                    "words": [
                      {
                        "text": "while",
                        "start": 58.92000000000007,
                        "end": 59.139999999999986,
                        "is_highlight": false
                      },
                      {
                        "text": "smiling",
                        "start": 59.139999999999986,
                        "end": 59.620000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "at",
                        "start": 59.620000000000005,
                        "end": 59.80000000000007,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 59.80000000000007,
                        "end": 59.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "with",
                        "start": 59.960000000000036,
                        "end": 60.139999999999986,
                        "is_highlight": false
                      },
                      {
                        "text": "a",
                        "start": 60.139999999999986,
                        "end": 60.24000000000001,
                        "is_highlight": false
                      },
                      {
                        "text": "goofy",
                        "start": 60.24000000000001,
                        "end": 60.54000000000008,
                        "is_highlight": false
                      },
                      {
                        "text": "octopus",
                        "start": 60.54000000000008,
                        "end": 60.98000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "face,",
                        "start": 60.98000000000002,
                        "end": 61.60000000000002,
                        "is_highlight": false
                      },
                      {
                        "text": "this",
                        "start": 61.98000000000002,
                        "end": 62.15999999999997,
                        "is_highlight": false
                      },
                      {
                        "text": "one",
                        "start": 62.15999999999997,
                        "end": 62.32000000000005,
                        "is_highlight": false
                      },
                      {
                        "text": "will",
                        "start": 62.32000000000005,
                        "end": 62.460000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "prove",
                        "start": 62.460000000000036,
                        "end": 62.77999999999997,
                        "is_highlight": false
                      },
                      {
                        "text": "you",
                        "start": 62.77999999999997,
                        "end": 62.960000000000036,
                        "is_highlight": false
                      },
                      {
                        "text": "wrong.",
                        "start": 62.960000000000036,
                        "end": 63.25999999999999,
                        "is_highlight": false
                      }
                    ],
                    "_line1": "while smiling at you with a goofy octopus",
                    "_line2": "face, this one will prove you wrong."
                  }
                ],
                "full_text": "Tocopy's original sin is one of those anime that tricks you right from the start. You see this cute pink Kirby looking alien octopus and think, oh this is going to be wholesome. Nope. It's a trap. What you actually get is a twisted parody of Dorymon. You've got the helpless kid, Shizuka, and the magical buddy from the future, Takope, with his pouch of happy gadgets. But instead of fixing homework problems or scaring off bullies, everything spirals into a world of neglect, abuse, and pain that feels so suffocatingly real. Takope, with his simple, happy brain, means well, but every attempt to help just makes things worse. And that's where the chaos comes in. The story cuts deep, like a surgeon's scalpel, dissecting trauma and brokenness in a way most anime wouldn't dare. These six episodes are nothing short of a masterpiece of anime art, short, sharp, and unforgettable. It's not just good, it's the kind of once in years anime that people remember because it's so unique and brutally honest. If you think anime can't hit you in the gut while smiling at you with a goofy octopus face, this one will prove you wrong."
              }
            ],
            "best_segments_info": [
              {
                "start_time": 461.4,
                "end_time": 524.66,
                "duration": 63.26,
                "description": "Dark parody anime exploring trauma and abuse.",
                "viral_score": 9,
                "reason": "Strong hook with unexpected twist from cute premise to dark themes, emotional depth, and unique storytelling that challenges anime norms, making it highly shareable."
              }
            ],
            "channel_name": "main"
          },
          "webhookUrl": "https://alisaadeng-n8n.hf.space/webhook/alisaadeng",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "body.output_files": "viral_057f9778_1_cinematic_blur.mp4",
          "body.best_segments_info": {
            "start_time": 461.4,
            "end_time": 524.66,
            "duration": 63.26,
            "description": "Dark parody anime exploring trauma and abuse.",
            "viral_score": 9,
            "reason": "Strong hook with unexpected twist from cute premise to dark themes, emotional depth, and unique storytelling that challenges anime norms, making it highly shareable."
          }
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Playground Videos": {
      "main": [
        [
          {
            "node": "Random Playground",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Music Files": {
      "main": [
        [
          {
            "node": "Random Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Playground": {
      "main": [
        [
          {
            "node": "Download Playground",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Music": {
      "main": [
        [
          {
            "node": "Download Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Music": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Files": {
      "main": [
        [
          {
            "node": "rename_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Background Images": {
      "main": [
        [
          {
            "node": "Random Background Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Background Image": {
      "main": [
        [
          {
            "node": "Download Background Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Background Image": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "rename_data": {
      "main": [
        [
          {
            "node": "cinematic_blure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Playground": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Playground Videos",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Music Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Background Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video_firstchannal": {
      "main": [
        [
          {
            "node": "editfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "second_channel": {
      "main": [
        [
          {
            "node": "scopewire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cinematic_blure": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editfile": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scopewire": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vertical_full": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "video_firstchannal",
            "type": "main",
            "index": 0
          },
          {
            "node": "second_channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "donlowd vide": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run actore": {
      "main": [
        [
          {
            "node": "donlowd vide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Cookies": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downlode video1": {
      "main": [
        [
          {
            "node": "run actore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run action": {
      "main": [
        [
          {
            "node": "Encode Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "delet files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Video clipping alisaadeng'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "641364f5-e693-4ab4-bdec-78a8dea23efc",
  "meta": {
    "instanceId": "7882a25036dfb1bd601050f0ac20700cd6d53895d09022f7a0ccea975f5b96d4"
  },
  "id": "SnFPfhTzxR7wpVRn",
  "tags": []
}